mg.esquerda{
    height: 250px;
    width: 250px;
    float:left;
    margin-right: 1.5cm;
}
img.direita{
    height:250px;
    width: 250px;
    float:right;
    margin-left:1,5cm;
}
h1.semflutuação{
    clear:both;
    text-align: center; 
}
p.esq{
    text-align: right;}

    img.center{
        float:left;
        margin-left: 16cm;
    }

