body{
    background-color: rgb(147, 145, 145);
    text-align: center;
   margin-left: 50px;
}

.TITULO{
    padding: 5px 20px 5px 20px ;
    border: 5px outset rgb(1, 137, 168);
    margin-left: 500px;
    width: 400px;
    height: 50px;
    color: white;
}

.aa{
    padding-bottom: 200px;
    border:dashed 1px rgb(255, 255, 255);
    color: white;
    width: 449px;
    margin-left: 500px;
}

