body{
    display:flex ;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-align:center;
}


#botão  

{

    justify-content:center;
    background-color: rgb(22, 167, 0);
    border-radius: 20px;
    color:rgb(255, 252, 252);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-align:center;
    height: 35px;

}
    
    #vermelho{
        
        
        
        justify-content:center;
        background-color: rgb(167, 0, 0);
        border-radius: 15px;
        color:rgb(255, 252, 252);
        display: block;
        padding: 12px;
        text-decoration: none;
        width: 80px;
        height: 35px;
    
    }
        
        


   

